{% extends "AppCerveza/padre.html" %}

{$ load static %}

{% block titulo %}

<h1 class="text-white font-weight-bold">Aqui podrás buscar las cervezas que tenemos cargadas</h1>
                        <hr class="divider" />
{% endblock %}

{% block subtitulo %}

<p class="text-white-75 mb-5">Recuerda que si la cerveza que buscas no está, puedes cargarla</p>

{% endblock %}

{% block busqueda %}

<form action="/bebidas/resultados_cerveza/" method="GET">

    Ingrese marca de cerveza que desea buscar: <input type="text" name="marca">
    <input type="submit" value="Buscar">

    
</form>

{% endblock %}
